body {
	margin: 0;
}

.nav1 {
	height: 10vh;
	background-color: #2f364a;
	display: flex;
	justify-content: center;
}

.logo1 {
	height: 10vh;
}

.carousel {
	overflow: hidden;
	height: 80vh;
	width: 100%;
	margin: 1.6vh 0;
}

.destaque1 {
	background-image: url(/img/destaque1.jpg);
	width: auto;
	height: 80vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 38%;
	background-position-y: 20%;
}

.destaque2 {
	background-image: url(/img/destaque2.jpg);
	width: auto;
	height: 80vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 38%;
}

.destaque3 {
	background-image: url(/img/destaque3.jpg);
	width: auto;
	height: 80vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 38%;
}

* {
	box-sizing: border-box;
}

.slideshow-container {
	max-width: 100%;
	position: relative;
	margin: auto;
}

.mySlides {
	display: none;
}

.prev,
.next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
}

.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
	background-color: #c4924b;
}

.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	position: relative;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.active,
.dot:hover {
	background-color: #c4924b;
}

.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}

@-webkit-keyframes fade {
	from {
		opacity: 0.4;
	}

	to {
		opacity: 1;
	}
}

@keyframes fade {
	from {
		opacity: 0.4;
	}

	to {
		opacity: 1;
	}
}

.dotbox {
	justify-content: center;
	position: relative;
	z-index: 15;
	width: 100%;
	display: flex;
	bottom: 30px;
}

.dotboxinterno {
	position: absolute;
}

.fa:hover {
	color: #c4924b;
}

.fe:hover {
	color: #c4924b;
}

.nav2 {
	position: sticky;
	top: 0;
	background-color: #262c3d;
	height: 7vh;
	display: flex;
	align-content: center;
	justify-content: space-evenly;
}

.navcontainer1 {
	width: 40%;
	height: 100%;
}

.logo2 {
	height: 7vh;
}

.navcontainer2 {
	width: 40%;
	height: 100%;
}

.navsubcontainer {
	display: flex;
	justify-content: flex-end;
	height: 100%;
}

.navopcao {
	width: 5vh;
	height: 5vh;
	background-color: #c4924b;
	border-radius: 50%;
	align-self: center;
	margin-right: 10px;
}

.containerservicos {
	height: 28vh;
}

.containernewsletter {
	background-color: #262c3d;
	height: 22vh;
}

.containersobreempresa {
	height: 100vh;
}

.containermidias1 {
	background-color: #262c3d;
	height: 6vh;
}

.footer1 {
	height: 9vh;
}

.nav3 {
	height: 127px;
	background-color: #2f364a;
	display: flex;
	justify-content: center;
}

.navcontainer3 {
	width: 1200px;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: end;
}

.logo3 {
	height: 131px;
}

.navcontainer4 {
	width: 855px;
	height: 100%;
	display: flex;
	align-items: center;
	margin: 0;
	padding: 0;
}

.navbutton {
	text-decoration: none;
	color: white;
	list-style-type: none;
	height: 35px;
	width: 120px;
	font-size: 15px;
	background-color: #c4924b;
	border-radius: 7px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 27px 0 22px;
	font-family: arial;
}

footer {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footercontainer {
	height: 470px;
	width: 1140px;
	background-color: #262c3d;
}

.containermidias2 {
	background-color: #2f364a;
	height: 150px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.subcontainermidias2{
	width: 800px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.footerconteudo {
	height: calc(100% - 150px);
	width: 100%;
	display: flex;
}

.containerlogofooter {
	height: 100%;
	width: 320px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.logofooter {
	height: 208px;
	width: 210px;
}

.containerconteudofooter {
	height: 100%;
	width: calc(100% - 320px);
}

.subcontainerconteudofooter {
	height: 70%;
	width: 100%;
	margin-top: 60px;
	display: flex;
}

.footerfonttitulo {
	color: white;
	font-family: arial;
	margin-bottom: 15px;
}

.footerfontopcoes {
	color: white;
	font-family: arial;
	font-size: 20px;
}

.footerfontespaco{
	margin-bottom: 10px;
}

.sobrefooter {
	padding-left: 20px;
	width: 195px;
}

.servicosfooter {
	width: 250px;
}

.newsletterfooter {
	width: 300px;
}

.formfooter {
	display: flex;
	flex-wrap: wrap;
}

.newslettercontainer {
	width: 240px;
	padding: 18.7px 0 20px 0;
}

.inputnewsletterfooter {
	border: none;
	border-bottom: 2px solid white;
	background-color: #262c3d;
	height: 33px;
	width: 170px;
}

.buttonnewsletterfooter {
	color: white;
	height: 33px;
	width: 100px;
	font-size: 15px;
	background-color: #c4924b;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: arial;
	border: none;
}

.semformato {
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-decoration: none;
}

.copyright {
	width: 100%;
	height: 90px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 20px;
	font-family: arial;
	font-weight: 100;
}

.teste {
	height: 20vh;
}
