</div>
<div class="correcaofakebg">
    <div class="fakebg"></div>
</div>
<footer>
    <div class="containerfootertodo">
        <div class="footercontainer">
            <div class="containermidias2">
                <div class="subcontainermidias2">
                    <a href="https://www.facebook.com/casaraodaestetica"><i class="fa fa-facebook" style="font-size:50px; color:white;"></i></a>
                    <a href="https://www.instagram.com/casaraodaestetica/"><i class="fa fa-instagram" style="font-size:50px; color:white;"></i></a>
                </div>
            </div>
            <div class="footerconteudo">
                <div class="containerlogofooter">
                    <a href="/">
                        <img src="/images/LOGO-CASARÃO-VETOR.png" class="logofooter" alt="logo footer">
                    </a>
                </div>
                <div class="containerconteudofooter">
                    <div class="subcontainerconteudofooter">
                        <div class="sobrefooter">
                            <h3 class="footerfonttitulo">SOBRE</h3>
                            <ul class="semformato">
                                <a href="/quem-somos" class="semformato footerfontopcoes foterhoover1">
                                    <li class="footerfontespaco">Quem somos</li>
                                </a>
                                <a href="/profissionais" class="semformato footerfontopcoes foterhoover1">
                                    <li class="footerfontespaco">Nossa Equipe</li>
                                </a>
                            </ul>
                        </div>
                        <div class="servicosfooter">
                            <h3 class="footerfonttitulo">SERVIÇOS</h3>
                            <ul class="semformato">
                                <a href="/usuario/agendamento/" class="semformato footerfontopcoes foterhoover1">
                                    <li class="footerfontespaco">Cabelo</li>
                                </a>
                                <a href="/usuario/agendamento/" class="semformato footerfontopcoes foterhoover1">
                                    <li class="footerfontespaco">Unhas</li>
                                </a>
                                <a href="/usuario/agendamento/" class="semformato footerfontopcoes foterhoover1">
                                    <li class="footerfontespaco">Depilação</li>
                                </a>
                                <a href="/usuario/agendamento/" class="semformato footerfontopcoes foterhoover1">
                                    <li class="footerfontespaco">Estética</li>
                                </a>
                                <a href="/usuario/agendamento/" class="semformato footerfontopcoes foterhoover1">
                                    <li class="footerfontespaco">Design de Sobrancelha</li>
                                </a>
                            </ul>
                        </div>
                        <div class="newsletterfooter">
                            <form action="/usuario/news_subscribe" id="newsformfooter" method="POST" class="formfooter">
                                <label class="footerfontopcoes newslettercontainer" for="emailfooter">
                                    Cadastre-se e receba nossas dicas e novidades.
                                </label>
                                <input type="text" name="newsname" id="newsnamefooter"class="inputnewsletterfooter" placeholder="Digite seu nome">
                                <input type="email" name="newsemail" id="newsemailfooter"class="inputnewsletterfooter" placeholder="email@dominio.com.br">
                                <button type="submit" class="buttonnewsletterfooter">Inscreva-se</button>
                                <div id="errorListfooter" class="alert alert-danger alert-dismissible fade show" role="alert" hidden>
                                    <ul>
                
                                    </ul>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="containermidias3">
            <div class="subcontainermidias1">
                <a href="https://www.facebook.com/casaraodaestetica"><i class="fa fa-facebook" style="font-size:16px; color:white;"></i></a>
                <a href="https://www.instagram.com/casaraodaestetica/"><i class="fa fa-instagram" style="font-size:16px; color:white;"></i></a>
            </div>
        </div>
        <div class="copyright">Copyright © 2020 - All rights reserved.</div>
    </div>

</footer>