</div>
<div class="correcaofakebg">
    <div class="fakebg"></div>
</div>
<footer>
    <div class="containerfootertodo">
        <div class="footercontainer">
            <div class="containermidias2">
                <div class="subcontainermidias2">
                    <a href="#"><i class="fa fa-facebook" style="font-size:50px; color:white;"></i></a>
                    <a href="#"><i class="fa fa-instagram" style="font-size:50px; color:white;"></i></a>
                    <a href="#"><i class="fa fa-twitter" style="font-size:50px; color:white;"></i></a>
                </div>
            </div>
            <div class="footerconteudo">
                <div class="containerlogofooter">
                    <a href="#">
                        <img src="/images/LOGO-CASARÃO-VETOR.png" class="logofooter" alt="logo footer">
                    </a>
                </div>
                <div class="containerconteudofooter">
                    <div class="subcontainerconteudofooter">
                        <div class="sobrefooter">
                            <h3 class="footerfonttitulo">SOBRE</h3>
                            <ul class="semformato">
                                <a href="#" class="semformato footerfontopcoes foterhoover1">
                                    <li class="footerfontespaco">Quem somos</li>
                                </a>
                                <a href="#" class="semformato footerfontopcoes foterhoover1">
                                    <li class="footerfontespaco">Nossa Equipe</li>
                                </a>
                            </ul>
                        </div>
                        <div class="servicosfooter">
                            <h3 class="footerfonttitulo">SERVIÇOS</h3>
                            <ul class="semformato">
                                <a href="#" class="semformato footerfontopcoes foterhoover1">
                                    <li class="footerfontespaco">Cabelo</li>
                                </a>
                                <a href="#" class="semformato footerfontopcoes foterhoover1">
                                    <li class="footerfontespaco">Unhas</li>
                                </a>
                                <a href="#" class="semformato footerfontopcoes foterhoover1">
                                    <li class="footerfontespaco">Depilação</li>
                                </a>
                                <a href="#" class="semformato footerfontopcoes foterhoover1">
                                    <li class="footerfontespaco">Estética</li>
                                </a>
                                <a href="#" class="semformato footerfontopcoes foterhoover1">
                                    <li class="footerfontespaco">Design de Sobrancelha</li>
                                </a>
                            </ul>
                        </div>
                        <div class="newsletterfooter">
                            <form action="POST" class="formfooter">
                                <label class="footerfontopcoes newslettercontainer" for="emailfooter">
                                    Cadastre-se e receba nossas dicas e novidades.
                                </label>
                                <input type="email" name="emailfooter" id="emailfooter"
                                    class="inputnewsletterfooter" placeholder="email@dominio.com.br">
                                <button type="submit" class="buttonnewsletterfooter">Inscreva-se</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="containermidias3">
            <div class="subcontainermidias1">
                <a href="#"><i class="fa fa-facebook" style="font-size:16px; color:white;"></i></a>
                <a href="#"><i class="fa fa-instagram" style="font-size:16px; color:white;"></i></a>
                <a href="#"><i class="fa fa-twitter" style="font-size:16px; color:white;"></i></a>
            </div>
        </div>
        <div class="copyright">Copyright © 2020 - All rights reserved.</div>
    </div>

</footer>