<!-- Nav do desktop -->
<nav class="nav3">
    <div class="navcontainer3">
        <a href="index.html">
            <img src="/images/logo-deitado.png" alt="logo deitado" class="logo3">
        </a>
        <ul class="navcontainer4">
            <a href="#" class="navbutton">
                <li>Serviços</li>
            </a>
            <a href="#" class="navbutton">
                <li>Quem somos</li>
            </a>
            <a href="#" class="navbutton">
                <li>Equipe</li>
            </a>
            <a href="#" class="navbutton">
                <li>Contato</li>
            </a>
            <a href="#" class="navbutton">
                <li>Login</li>
            </a>
        </ul>
    </div>
</nav>
<!-- Nav do mobile -->
<nav class="nav4">
    <div class="navcontainer1">
        <a href="index.html">
            <img src="/images/logo-deitado.png" alt="logo deitado" class="logo2">
        </a>
    </div>
    <div class="navcontainer2">
        <div class="navsubcontainer">
            <a href="#" class="navopcao"><i class="fa fa-bars" style="font-size: 3.5vh; color:white;"></i></a>
            <a href="#" class="navopcao"><i class="fa fa-search" style="font-size: 3.5vh; color:white;"></i></a>
        </div>
    </div>
</nav>
<div class="containermaincontent">