<!DOCTYPE html>
<html lang="en">

    <%- include('includes/head', {title: "Ambiente de administrador"}) %> 

<body>
    <%- include('includes/header') %> 

        <main>
            <div class="containerinfosopcoes">
                <div class="opcaoinfos" onclick="currentForm(1)">
                    <div class="admitem1"></div>
                    <form class="forms" method="POST" action="/admin/admin-register">
                        <% if(typeof(msg) != 'undefined') { %>
                            <div class="alert alert-danger"><%= msg %></div>
                        <% } %>
                        <h3 class="tituloinfosadm">INFORMAÇÕES DO ADMINISTRADOR</h3>
                        <label for="nameinfosadm" class="labelinfosadm">Nome Completo</label><br>
                        <input type="text" placeholder="Digite seu nome" class="inputinfosadm" name="nameinfosadm" id="nameinfosadm"><br>
                        <label for="emailinfosadm" class="labelinfosadm">E-mail</label><br>
                        <input type="email" placeholder=" usuario@mail.com" class="inputinfosadm" name="emailinfosadm" id="emailinfosadm"><br>
                        <label for="cpfinfosadm" class="labelinfosadm">CPF</label><br>
                        <input type="text" placeholder=" 123.456.789-12" class="inputinfosadm" name="cpfinfosadm" id="cpfinfosadm"><br>
                        <label for="birthdayinfosadm" class="labelinfosadm">Data de Nascimento</label><br>
                        <input type="date" class="inputinfosadm" name="birthdayinfosadm" id="birthdayinfosadm"><br>
                        <label for="phoneinfosadm" class="labelinfosadm">Telefone</label><br>
                        <input type="text" placeholder=" (99) 99999-9999" class="inputinfosadm" name="phoneinfosadm" id="phoneinfosadm"><br>
                        <label for="passwordinfosadm" class="labelinfosadm">Senha</label><br>
                        <input type="password" placeholder="Digite sua senha" class="inputinfosadm" name="passwordinfosadm" id="passwordinfosadm"><br>
                        <button type="submit" class="botaoinfosadm">Salvar</button>
                    </form>
                </div>
                <div class="opcaoinfos" onclick="currentForm(2)">
                    <div class="admitem2"></div>
                    <form class="forms" method="POST" action="/admin/company-register">
                        <h3 class="tituloinfosadm">INFORMAÇÕES DA EMPRESA</h3>
                        <label for="nomeinfosempresa" class="labelinfosadm">Nome</label><br>
                        <input type="text" placeholder="Casarão Estética & Saúde" class="inputinfosadm" name="nomeinfosempresa" id="nomeinfosempresa"><br>
                        <label for="emailinfosempresa" class="labelinfosadm">E-mail para contato</label><br>
                        <input type="email" placeholder=" casaraodaestetica@gmail.com" class="inputinfosadm" name="emailinfosempresa" id="emailinfosempresa"><br>
                        <label for="phone1infosempresa" class="labelinfosadm">Telefone 1</label><br>
                        <input type="text" placeholder=" (99) 99999-9999" class="inputinfosadm" name="phone1infosempresa" id="phone1infosempresa"><br>
                        <label for="phone2infosempresa" class="labelinfosadm">Telefone 2</label><br>
                        <input type="text" placeholder=" (99) 99999-9999" class="inputinfosadm" name="phone2infosempresa" id="phone2infosempresa"><br>
                        
                        <!-- Essas informações serão mesmo necessárias? Teremos que alterar o BD -->
                        <!-- <label for="celinfosempresa" class="labelinfosadm">Dias de funcionamento</label><br>
                        <input type="checkbox" name="dominfosempresa" id="dominfosempresa">
                        <label for="dominfosempresa" class="labelinfosadm">Dom</label>
                        <input type="checkbox" name="seginfosempresa" id="seginfosempresa" checked>
                        <label for="seginfosempresa" class="labelinfosadm">Seg</label>
                        <input type="checkbox" name="terinfosempresa" id="terinfosempresa" checked>
                        <label for="terinfosempresa" class="labelinfosadm">Ter</label>
                        <input type="checkbox" name="quainfosempresa" id="quainfosempresa" checked>
                        <label for="quainfosempresa" class="labelinfosadm">Qua</label>
                        <br>
                        <input type="checkbox" name="quiinfosempresa" id="quiinfosempresa" checked>
                        <label for="quiinfosempresa" class="labelinfosadm">Qui</label>
                        <input type="checkbox" name="sexinfosempresa" id="sexinfosempresa" checked>
                        <label for="sexinfosempresa" class="labelinfosadm">Sex</label>
                        <input type="checkbox" name="sabinfosempresa" id="sabinfosempresa">
                        <label for="sabinfosempresa" class="labelinfosadm">Sáb</label>
                        <br>
                        <label for="celinfosempresa" class="labelinfosadm">Horário de funcionamento</label><br>
                        <select name="selected" class="dropdowninfosadm">
                            <option value="0" selected="selected">das 8:00h</option>
                            <option value="1">das 9:00h</option>
                            <option value="2">das 10:00h</option>
                            <option value="3">das 11:00h</option>
                            <option value="4">das 12:00h</option>
                            <option value="5">das 13:00h</option>
                            <option value="6">das 14:00h</option>
                            <option value="7">das 15:00h</option>
                            <option value="8">das 16:00h</option>
                            <option value="9">das 17:00h</option>
                        </select>
                        <select name="selected" class="dropdowninfosadm">
                            <option value="0" selected="selected">as 09:00h</option>
                            <option value="1">as 10:00h</option>
                            <option value="2">as 11:00h</option>
                            <option value="3">as 12:00h</option>
                            <option value="4">as 13:00h</option>
                            <option value="5">as 14:00h</option>
                            <option value="6">as 15:00h</option>
                            <option value="7">as 16:00h</option>
                            <option value="8">as 17:00h</option>
                            <option value="9">as 18:00h</option>
                        </select><br> -->
                        <button type="submit" class="botaoinfosadm">Salvar</button>
                    </form>
                </div>
                <div class="opcaoinfos" onclick="currentForm(3)">
                    <div class="admitem3"></div>
                    <form class="forms" method="POST" action="/admin/client-register">
                        <h3 class="tituloinfosadm">CADASTRAR CLIENTE</h3>
                        <label for="nomeinfoscliente" class="labelinfosadm">Nome</label><br>
                        <input type="text" placeholder="Digite o nome do cliente" class="inputinfosadm" name="nomeinfoscliente" id="nomeinfoscliente"><br>
                        <label for="sobrenomeinfoscliente" class="labelinfosadm">Sobrenome</label><br>
                        <input type="text" placeholder="Digite o sobrenome do cliente" class="inputinfosadm" name="sobrenomeinfoscliente" id="sobrenomeinfoscliente"><br>
                        <label for="emailinfoscliente" class="labelinfosadm">E-mail</label><br>
                        <input type="email" placeholder="Digite o email do cliente" class="inputinfosadm" name="emailinfoscliente" id="emailinfoscliente"><br>
                        <label for="cpfinfoscliente" class="labelinfosadm">CPF</label><br>
                        <input type="text" placeholder="123.456.789-12" class="inputinfosadm" name="cpfinfoscliente" id="cpfinfoscliente"><br>
                        <label for="birthdateinfoscliente" class="labelinfosadm">Data de Nascimento</label><br>
                        <input type="date" class="inputinfosadm" name="birthdateinfoscliente" id="birthdateinfoscliente"><br>
                        <label for="phoneinfoscliente" class="labelinfosadm">Telefone</label><br>
                        <input type="text" placeholder=" (99) 99999-9999" class="inputinfosadm" name="phoneinfoscliente" id="phoneinfoscliente"><br>
                        <button type="submit" class="botaoinfosadm classeteste">Salvar</button><br><br>
                        <div class="botaoagendamento" onclick="displaysub(1)"><span class="textcolorblack">Agendar Cliente</span><i class="fas fa-arrow-right"></i></div>
                    </form>
                </div>
                <div class="opcaoinfos" onclick="currentForm(4)">
                    <div class="admitem4"></div>
                    <form class="forms" method='POST' action="/admin/employee-register">
                        <h3 class="tituloinfosadm">EDITAR FUNCIONARIO</h3>
                        <label for="nomeeditarfuncionario" class="labelinfosadm">Nome</label><br>
                        <select name="selected" class="dropdowninfosadm2" id="nomeeditarfuncionario">
                            <option value="0" selected="selected">Selecione</option>
                            <option value="1">Funcionário 1</option>
                            <option value="2">Funcionário 2</option>
                            <option value="3">Funcionário 3</option>
                            <option value="4">Funcionário 4</option>
                            <option value="5">Funcionário 5</option>
                            <option value="6">Funcionário 6</option>
                            <option value="7">Funcionário 7</option>
                            <option value="8">Funcionário 8</option>
                            <option value="9">Funcionário 9</option>
                        </select><br>
                        <label for="emailinfosfuncionario" class="labelinfosadm">E-mail</label><br>
                        <input type="email" placeholder=" usuario@mail.com" class="inputinfosadm" name="emailinfosfuncionario" id="emailinfosfuncionario"><br>
                        <label for="celinfosfuncionario" class="labelinfosadm">Telefone</label><br>
                        <input type="text" placeholder=" (99) 99999-9999" class="inputinfosadm" name="celinfosfuncionario" id="celinfosfuncionario"><br>
                        <label for="celinfosfuncionario" class="labelinfosadm">Dias de trabalho</label><br>
                        <input type="checkbox" name="dominfosfuncionario" id="dominfosfuncionario">
                        <label for="dominfosfuncionario" class="labelinfosadm">Dom</label>
                        <input type="checkbox" name="seginfosfuncionario" id="seginfosfuncionario" checked>
                        <label for="seginfosfuncionario" class="labelinfosadm">Seg</label>
                        <input type="checkbox" name="terinfosfuncionario" id="terinfosfuncionario" checked>
                        <label for="terinfosfuncionario" class="labelinfosadm">Ter</label>
                        <input type="checkbox" name="quainfosfuncionario" id="quainfosfuncionario" checked>
                        <label for="quainfosfuncionario" class="labelinfosadm">Qua</label>
                        <br>
                        <input type="checkbox" name="quiinfosfuncionario" id="quiinfosfuncionario" checked>
                        <label for="quiinfosfuncionario" class="labelinfosadm">Qui</label>
                        <input type="checkbox" name="sexinfosfuncionario" id="sexinfosfuncionario" checked>
                        <label for="sexinfosfuncionario" class="labelinfosadm">Sex</label>
                        <input type="checkbox" name="sabinfosfuncionario" id="sabinfosfuncionario">
                        <label for="sabinfosfuncionario" class="labelinfosadm">Sáb</label>
                        <br>
                        <label for="celinfosfuncionario" class="labelinfosadm">Horário de trabalho</label><br>
                        <select name="shiftstart" id="shiftstart" class="dropdowninfosadm">
                            <option value="0" selected="selected">das 8:00h</option>
                            <option value="1">das 9:00h</option>
                            <option value="2">das 10:00h</option>
                            <option value="3">das 11:00h</option>
                            <option value="4">das 12:00h</option>
                            <option value="5">das 13:00h</option>
                            <option value="6">das 14:00h</option>
                            <option value="7">das 15:00h</option>
                            <option value="8">das 16:00h</option>
                            <option value="9">das 17:00h</option>
                        </select>
                        <select name="selected" class="dropdowninfosadm">
                            <option value="0" selected="selected">as 09:00h</option>
                            <option value="1">as 10:00h</option>
                            <option value="2">as 11:00h</option>
                            <option value="3">as 12:00h</option>
                            <option value="4">as 13:00h</option>
                            <option value="5">as 14:00h</option>
                            <option value="6">as 15:00h</option>
                            <option value="7">as 16:00h</option>
                            <option value="8">as 17:00h</option>
                            <option value="9">as 18:00h</option>
                        </select><br>
                        <button type="submit" class="botaoinfosadm">Salvar</button>
                    </form>
                </div>
                <div class="opcaoinfos" onclick="currentForm(5)">
                    <div class="admitem5"></div>
                    <form class="forms">
                        <h3 class="tituloinfosadm">FECHAR HORÁRIOS</h3>
                        <label for="nomeinfosfuncionario" class="labelinfosadm">Funcionário / Geral</label><br>
                        <select name="selected" class="dropdowninfosfunc">
                            <option value="0" selected="selected">Selecione</option>
                            <option value="1">Funcionário 1</option>
                            <option value="2">Funcionário 2</option>
                            <option value="3">Funcionário 3</option>
                            <option value="4">Funcionário 4</option>
                            <option value="5">Funcionário 5</option>
                            <option value="6">Funcionário 6</option>
                            <option value="7">Funcionário 7</option>
                            <option value="8">Funcionário 8</option>
                            <option value="9">Funcionário 9</option>
                        </select><br>
                        <label for="datainfosinicio" class="labelinfosadm">Data Inicial</label><br>
                        <input type="date" class="inputinfosfunc" name="datainfosinicio" id="datainfosinicio"><br>
                        <label for="datainfosfim" class="labelinfosadm">Data Final</label><br>
                        <input type="date" class="inputinfosfunc" name="datainfosfim" id="datainfosfim"><br>
                        <label for="celinfosfuncionario" class="labelinfosadm">Horário</label><br>
                        <select name="selected" class="dropdowninfosadm">
                            <option value="0" selected="selected">das 8:00h</option>
                            <option value="1">das 9:00h</option>
                            <option value="2">das 10:00h</option>
                            <option value="3">das 11:00h</option>
                            <option value="4">das 12:00h</option>
                            <option value="5">das 13:00h</option>
                            <option value="6">das 14:00h</option>
                            <option value="7">das 15:00h</option>
                            <option value="8">das 16:00h</option>
                            <option value="9">das 17:00h</option>
                        </select>
                        <select name="selected" class="dropdowninfosadm">
                            <option value="0" selected="selected">as 09:00h</option>
                            <option value="1">as 10:00h</option>
                            <option value="2">as 11:00h</option>
                            <option value="3">as 12:00h</option>
                            <option value="4">as 13:00h</option>
                            <option value="5">as 14:00h</option>
                            <option value="6">as 15:00h</option>
                            <option value="7">as 16:00h</option>
                            <option value="8">as 17:00h</option>
                            <option value="9">as 18:00h</option>
                        </select><br>
                        <button type="submit" class="botaoinfosadm">Salvar</button>
                    </form>
                </div>
                <div class="opcaoinfos" onclick="currentForm(6)">
                    <div class="admitem6"></div>
                    <form class="forms">
                        <h3 class="tituloinfosadm">EDITAR SERVIÇOS</h3>
                        <label for="nomeinfosfuncionario" class="labelinfosadm">Nome</label><br>
                        <select name="selected" class="dropdowninfosfunc">
                            <option value="0" selected="selected">Selecione</option>
                            <option value="1">Serviço 1</option>
                            <option value="2">Serviço 2</option>
                            <option value="3">Serviço 3</option>
                            <option value="4">Serviço 4</option>
                            <option value="5">Serviço 5</option>
                            <option value="6">Serviço 6</option>
                            <option value="7">Serviço 7</option>
                            <option value="8">Serviço 8</option>
                            <option value="9">Serviço 9</option>
                        </select><br>
                        <label for="celinfosfuncionario" class="labelinfosadm">Categoria</label><br>
                        <select name="selected" class="dropdowninfosadm">
                            <option value="0" selected="selected">Selecione</option>
                            <option value="1">Categoria 1</option>
                            <option value="2">Categoria 2</option>
                            <option value="3">Categoria 3</option>
                            <option value="4">Categoria 4</option>
                            <option value="5">Categoria 5</option>
                            <option value="6">Categoria 6</option>
                            <option value="7">Categoria 7</option>
                            <option value="8">Categoria 8</option>
                            <option value="9">Categoria 9</option>
                        </select><br>
                        <label for="precoeditarservicos" class="labelinfosadm">Preço</label><br>
                        <input type="text" class="inputinfosfunc2" placeholder=" R$0,00" name="precoeditarservicos" id="precoeditarservicos"><br>
                        <label for="nomeinfosfuncionario" class="labelinfosadm">Funcionário</label><br>
                        <select name="selected" class="dropdowninfosfunc">
                            <option value="0" selected="selected">Selecione</option>
                            <option value="1">Funcionário 1</option>
                            <option value="2">Funcionário 2</option>
                            <option value="3">Funcionário 3</option>
                            <option value="4">Funcionário 4</option>
                            <option value="5">Funcionário 5</option>
                            <option value="6">Funcionário 6</option>
                            <option value="7">Funcionário 7</option>
                            <option value="8">Funcionário 8</option>
                            <option value="9">Funcionário 9</option>
                        </select><br>
                        <button type="submit" class="botaoinfosadm">Salvar</button>
                    </form>
                </div>
                <div class="opcaoinfos" id="displayinv"></div>
                <form class="subforms">
                    <h3 class="tituloinfosadm">AGENDAR CLIENTE</h3>
                    <label for="nomeagendarcliente" class="labelinfosadm">Nome Completo</label><br>
                    <input type="text" placeholder=" John Doe" class="inputinfosadm" name="nomeagendarcliente" id="nomeagendarcliente"><br>
                    <label for="emailagendarcliente" class="labelinfosadm">E-mail</label><br>
                    <input type="email" placeholder=" usuario@mail.com" class="inputinfosadm" name="emailagendarcliente" id="emailagendarcliente"><br>
                    <label for="cpfagendarcliente" class="labelinfosadm">CPF</label><br>
                    <input type="text" placeholder=" 123.456.789-12" class="inputinfosadm" name="cpfagendarcliente" id="cpfagendarcliente"><br>
                    <label for="dataagendarclass" class="labelinfosadm">Data de Nascimento</label><br>
                    <input type="date" class="inputinfosadm" name="dataagendarclass" id="dataagendarclass"><br>
                    <label for="celagendarcliente" class="labelinfosadm">Telefone</label><br>
                    <input type="text" placeholder=" (99) 99999-9999" class="inputinfosadm" name="celagendarcliente" id="celagendarcliente"><br>
                    <button type="submit" class="botaoinfosadm">Salvar</button><br><br>
                </form>
            </div>
        </main>

        <div class="teste1"></div>

        <%- include('includes/footer') %>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

    <script>
        let agendamento = false;
        let formIndex = 1;
        showForms(formIndex);

        function currentForm(n) {
            showForms((formIndex = n));
        }

        function currentFormaa(n) {
            showForms((formIndex = n));
        }
    
        function showForms(n) {
            let i;
            let forms = document.getElementsByClassName("forms");
            let subforms = document.getElementsByClassName("subforms");
            let borda = document.getElementsByClassName("opcaoinfos");
            let subformsbutton = document.getElementsByClassName("botaoagendamento");
            if(n != 3){
            agendamento = false;
            subforms[0].style.display = "none";
            forms[2].style.display = "block"
            }
            for (i = 0; i < forms.length; i++) {
                forms[i].style.display = "none";
            }
            for (i = 0; i < forms.length; i++) {
				borda[i].className = borda[i].className.replace(" borda", "");
			}
            if(!agendamento){
                forms[formIndex - 1].style.display = "block";
            }
			borda[formIndex - 1].className += " borda";
        }

        function displaysub(n){
            let forms = document.getElementsByClassName("forms");
            let subforms = document.getElementsByClassName("subforms");
            subforms[n - 1].style.display = "block"
            forms[2].style.display = "none";
            agendamento = true;

        }

    </script>

</body>

</html>