<!DOCTYPE html>
<html lang="pt-br">

<%- include('includes/head', {title: "Cadastro"}) %>

<body>
    <%- include('includes/header') %>

        <main class="d-flex flex-column align-items-center main-container">
            <h1 class="m-4 titulopagina">CADASTRE-SE</h1>
            <form id="formRegisterUser" action="/usuario/registro" method="POST" class="formCadastro w-75 d-flex flex-column">
                <div class="form-group">
                    <label class="label-form" for="name"> Nome </label>
                    <input type="text" class="form-control form-control-lg form-border correcaoplaceholder" id="name" name="name" placeholder="Digite seu nome">
                </div>
                <div class="form-group">
                    <label class="label-form" for="lastname"> Sobrenome </label>
                    <input type="text" class="form-control form-control-lg form-border correcaoplaceholder" id="lastname" name="lastname" placeholder="Digite seu sobrenome">
                </div>
                <div class="form-group">
                    <label class="label-form" for="email"> E-mail </label>
                    <input type="email" class="form-control form-control-lg form-border correcaoplaceholder" id="email" name="email" placeholder="usuario@email.com">
                </div>
                <div class="form-group">
                    <label class="label-form" for="cpf"> CPF </label>
                    <input type="number" class="form-control form-control-lg form-border correcaoplaceholder" id="cpf" name="cpf" placeholder="123.456.789-12">
                </div>
                <div class="form-group">
                    <label class="label-form" for="birthdate"> Data de Nascimento </label>
                    <input type="date" autocomplete="off" class="form-control form-control-lg form-border correcaoplaceholder" id="birthdate" name="birthdate">
                </div>
                <div class="form-group">
                    <label class="label-form" for="phone"> Telefone </label>
                    <input type="tel" class="form-control form-control-lg form-border correcaoplaceholder" id="phone" name="phone" placeholder="(99)99999-9999">
                </div>
                <div class="form-group">
                    <label class="label-form" for="password"> Senha </label>
                    <input type="password" class="form-control form-control-lg form-border correcaoplaceholder" id="password" name="password"
                        placeholder="Defina uma senha">
                </div>
                <div id="errorList" class="alert alert-danger alert-dismissible fade show" role="alert" hidden>
                    <ul>

                    </ul>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                </div>
                    <button type="submit" value="submit" class="btn btn-color mb-4 mt-3 align-self-center">Cadastrar</button>
            </form>
        </main>

    <%- include('includes/footer') %> 
    <%- include('includes/scripts') %> 
    <script src="/javascripts/authRegisterUser.js"></script>

</body>

</html>