<!DOCTYPE html>
<html lang="pt-br">

<%- include('includes/head', {title: "Agendamentos"}) %>

<body>

  <nav class="navadm">
    <div class="navadmcontainer">
      <a href="/">
        <img src="/images/logo-deitado.png" alt="logo deitado" class="logonavadm">
      </a>
      <a href="/login/logout" class="botaosair">Sair <i class="fa fa-power-off" aria-hidden="true"></i></a>
    </div>
  </nav>

  <div class="containermaincontent">

    <main class="admflexcontainer">

      <div>
        <div class="containerinfosopcoes">
          <a class="opcaoinfos" href="/administracao">
            <div class="botaocontaineradm"><i class="fas fa-arrow-left admitem7" aria-hidden="true"></i>Voltar</div>
          </a>
        </div>
      </div>

      <div>
        <div class="positiondatedaily">
          <label for="datadaily" class="labelinfosadm">Filtrar dia:</label><br>
          <input type="date" class="dropdowninfosfunc" id="datadaily">
        </div>

        <div class="positiondatedaily">
          <label for="datadaily" class="labelinfosadm">Filtrar funcionário: </label><br>
          <select class="dropdowninfosfunc" id="employee">
            <option value="0" selected>Selecione um funcionário...</option>
          </select>
        </div>

        <div class="positiondatedaily">
          <label for="datadaily" class="labelinfosadm">Filtrar cliente:</label><br>
          <input type="text" placeholder="Busque o nome do cliente" class="dropdowninfosfunc" id="client">
        </div>


        <table>
          <thead>
              <tr>
                  <th>Cliente</th>
                  <th>Data</th>
                  <th>Horario</th>
                  <th>Serviço</th>
                  <th>Profissional</th>
                  <th>Valor</th>
                  <th>Status</th>
                  <th>Ação</th>
              </tr>
          </thead>
          <tbody class="listadeagendamentos">
          </tbody>
        </table>

      </div>

    </main>

    <div class="teste1"></div>
    <div class="teste1"></div>

    <%- include('includes/footer') %>
    <%- include('includes/scripts') %>

    <script src="/javascripts/daily.js"></script>

</body>

</html>