<!DOCTYPE html>
<html lang="en">

<%- include('includes/head', {title: "Home"}) %>

<body>
    <div class="nav1">
        <a href="/">
            <img src="/images/logo-deitado.png" alt="logo deitado" class="logo1">
        </a>
    </div>

    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="d-block carouselimgheight destaque1"></div>
            </div>
            <div class="carousel-item">
                <div class="d-block carouselimgheight destaque2"></div>
            </div>
            <div class="carousel-item">
                <div class="d-block carouselimgheight destaque3"></div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <!-- Nav Sticky desktop -->
    <nav class="nav2">
        <div class="navcontainer1">
            <a href="/">
                <img src="/images/logo-deitado.png" alt="logo deitado" class="logo2">
            </a>
        </div>
        <div class="navcontainer2">
            <div class="navsubcontainer">
                <a href="#" class="navopcao"><i class="fa fa-bars" style="font-size: 3.5vh; color:white;"></i></a>
            </div>
        </div>
        <ul class="navcontainer5">
            <a href="/nossos-servicos" class="navbutton2">
                <li>Serviços</li>
            </a>
            <a href="/quem-somos" class="navbutton2">
                <li>Quem somos</li>
            </a>
            <a href="/profissionais" class="navbutton2">
                <li>Equipe</li>
            </a>
            <a href="/contato" class="navbutton2">
                <li>Contato</li>
            </a>
            <% if(user.name == "disconnected") { %>
            <a href="/login" id="user-login" class="navbutton2">
                <li>Login</li>
            </a>
            <% } else { %>
            <a href="/usuario/perfil" id="user-logado" class="navbutton2">
                <li> <%=user.name%> </li>
            </a> <% } %>

        </ul>
    </nav>

    <div class="containermaincontent">
        <div class="containerservicos">
            <div class="servicostitle">NOSSOS SERVIÇOS</div>

            <div class="containerservicosmobile">
            </div>

            <div class="servicostitle1">NOSSOS SERVIÇOS</div>

            <div class="overflowservicos">
            </div>

        </div>

        <div class="containernewsletter1">
            <form action="POST" class="formwidth">
                <div class="newslettercontainer1">
                    <div class="subnewslettercontainer1">
                        <h2 class="newslettertitle">NEWSLETTER</h2>
                        <div class="newslettersubtitle1">Cadastrar-se e receba nossas dicas e novidades.</div>
                    </div>
                </div>
                <div class="subnewslettercontainer2">
                    <input type="text" name="nome" id="nomeindex" class="newsletterinputhome1"
                        placeholder="Nome Completo">
                    <input type="email" name="email" id="emailindex" class="newsletterinputhome2"
                        placeholder="email@dominio.com.br">
                    <a class="botaonewsletter1" onclick="limparcampo()">Inscreva-se</a>
                </div>
            </form>
        </div>
        <div class="containersobreempresa">

            <div class="quemsomoshomecontainer">
                <h5 class="quemsomostitle1">QUEM SOMOS</h5>
                <div class="quemsomoscard">
                    <div class="quemsomosbg"></div>
                    <div class="quemsomosdescricao1">
                        <h4 class="quemsomostitle3">Casarão Estética & Saúde</h4>
                        <div class="quemsomostexto1">
                            O Casarão Estética & Saúde iniciou suas atividades no dia 30 de março de 2019, e desde então
                            oferece uma grande variedade
                        </div>
                    </div>
                    <div class="quemsomosdescricao2">
                        <h4 class="quemsomostitle4">Casarão Estética & Saúde</h4>
                        <div class="quemsomostexto2">
                            O Casarão Estética & Saúde iniciou suas atividades no dia 30 de março de 2019, e desde então
                            oferece uma grande variedade de serviços nos segmentos de beleza e saúde, sempre preocupado
                            com a segurança, saúde e satisfação de suas clientes e profissionais. Uma antiga casa de
                            família foi totalmente reformada para dar lugar ao estabelecimento que conta, como um de
                            seus pontos altos, espaços kids para entreter crianças de todas as idades enquanto as mães
                            desfrutam dos serviços com tranquilidade.
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="nossaequipehomecontainer">
            <h5 class="quemsomostitle2">NOSSA EQUIPE</h5>
            <div class="equipehomecontainer">
            </div>
        </div>
    </div>
    <%- include('includes/footer') %>
    <%- include('includes/scripts') %>
    <script src="/javascripts/index.js"></script>

</body>

</html>