<!DOCTYPE html>
<html lang="en">

<%- include('includes/head', {title: "Login"}) %>

<body>
    <%- include('includes/header') %>


        <main class="d-flex flex-column align-items-center">
            <h1 class="m-5 titulopagina">LOGIN DE ADMINISTRADOR</h1>
            <form class="formAgendamento w-75 d-flex flex-column">
                <div class="form-group">
                    <label class="label-form" for="email">Email</label>
                    <input type="email" class="form-control form-control-lg form-border correcaoplaceholder" id="valor"
                        placeholder="Digite seu email">
                </div>
                <div class="form-group">
                    <label class="label-form" for="password">Valor</label>
                    <input type="password" class="form-control form-control-lg form-border correcaoplaceholder" id="password"
                        placeholder="Digite sua senha">
                </div>
                <button type="submit" class="btn btn-color mb-5 mt-4 align-self-center">Entrar</button>
            </form>
        </main>


        <%- include('includes/footer') %> 
        <%- include('includes/scripts') %> 

</body>

</html>