<!DOCTYPE html>
<html lang="en">

<%- include('includes/head', {title: "Login"}) %>

<body>
    <nav class="navadm">
        <a href="/">
          <img src="/images/logo-deitado.png" alt="logo deitado" class="logo1">
        </a>
      </nav>
      
    <div class="containermaincontent">
        <main class="d-flex flex-column align-items-center">
            <h1 class="m-5 titulopagina1">LOGIN DE ADMINISTRADOR</h1>
            <form class="formAgendamento w-75 d-flex flex-column" method="POST" action="/administracao/login">
                <div class="form-group">
                    <label class="label-form" for="email">Email</label>
                    <input type="email" class="form-control form-control-lg form-border correcaoplaceholder" id="email" name="email"
                        placeholder="Digite seu email">
                </div>
                <div class="form-group">
                    <label class="label-form" for="password">Senha</label>
                    <input type="password" class="form-control form-control-lg form-border correcaoplaceholder" id="password" name="password"
                        placeholder="Digite sua senha">
                </div>
                <button type="submit" class="btn btn-color mb-5 mt-4 align-self-center">Entrar</button>
            </form>

            <div class="teste1"></div>
        </main>
        </div>


        <%- include('includes/footer') %> 
        <%- include('includes/scripts') %> 

</body>

</html>