<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css"
        href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../css/style.css">
    <title>Template</title>
</head>

<body>
    <nav class="nav3">
        <div class="navcontainer3">
            <a href="../index.html">
                <img src="../img/logo-deitado.png" alt="logo deitado" class="logo3">
            </a>
            <ul class="navcontainer4">
                <a href="#" class="navbutton">
                    <li>Serviços</li>
                </a>
                <a href="#" class="navbutton">
                    <li>Quem somos</li>
                </a>
                <a href="#" class="navbutton">
                    <li>Equipe</li>
                </a>
                <a href="#" class="navbutton">
                    <li>Contato</li>
                </a>
                <a href="#" class="navbutton">
                    <li>Login</li>
                </a>
            </ul>
        </div>
    </nav>
    <nav class="nav4">
        <div class="navcontainer1">
            <a href="index.html">
                <img src="./img/logo-deitado.png" alt="logo deitado" class="logo2">
            </a>
        </div>
        <div class="navcontainer2">
            <div class="navsubcontainer">
                <a href="#" class="navopcao"><i class="fa fa-bars" style="font-size: 3.5vh; color:white;"></i></a>
                <a href="#" class="navopcao"><i class="fa fa-search" style="font-size: 3.5vh; color:white;"></i></a>
            </div>
        </div>
    </nav>
    <div class="containermaincontent">


        <main class="d-flex flex-column align-items-center">
            <h3 class="m-5">LOGIN DE ADMINISTRADOR</h3>
            <form class="formAgendamento w-75 d-flex flex-column">
                <div class="form-group">
                    <label class="label-form" for="email">Email</label>
                    <input type="email" class="form-control form-control-lg form-border" id="valor"
                        placeholder="Digite seu email">
                </div>
                <div class="form-group">
                    <label class="label-form" for="password">Valor</label>
                    <input type="password" class="form-control form-control-lg form-border" id="password"
                        placeholder="Digite sua senha">
                </div>
                <button type="submit" class="btn btn-color mb-5 mt-4 align-self-center">Entrar</button>
            </form>
        </main>

    </div>
    <div class="correcaofakebg">
        <div class="fakebg"></div>
    </div>
    <footer>
        <div class="containerfootertodo">
            <div class="footercontainer">
                <div class="containermidias2">
                    <div class="subcontainermidias2">
                        <a href="#"><i class="fa fa-facebook" style="font-size:50px; color:white;"></i></a>
                        <a href="#"><i class="fa fa-instagram" style="font-size:50px; color:white;"></i></a>
                        <a href="#"><i class="fa fa-twitter" style="font-size:50px; color:white;"></i></a>
                    </div>
                </div>
                <div class="footerconteudo">
                    <div class="containerlogofooter">
                        <a href="#">
                            <img src="../img/LOGO-CASARÃO-VETOR.png" class="logofooter" alt="logo footer">
                        </a>
                    </div>
                    <div class="containerconteudofooter">
                        <div class="subcontainerconteudofooter">
                            <div class="sobrefooter">
                                <h3 class="footerfonttitulo">SOBRE</h3>
                                <ul class="semformato">
                                    <a href="#" class="semformato footerfontopcoes foterhoover1">
                                        <li class="footerfontespaco">Quem somos</li>
                                    </a>
                                    <a href="#" class="semformato footerfontopcoes foterhoover1">
                                        <li class="footerfontespaco">Nossa Equipe</li>
                                    </a>
                                </ul>
                            </div>
                            <div class="servicosfooter">
                                <h3 class="footerfonttitulo">SERVIÇOS</h3>
                                <ul class="semformato">
                                    <a href="#" class="semformato footerfontopcoes foterhoover1">
                                        <li class="footerfontespaco">Cabelo</li>
                                    </a>
                                    <a href="#" class="semformato footerfontopcoes foterhoover1">
                                        <li class="footerfontespaco">Unhas</li>
                                    </a>
                                    <a href="#" class="semformato footerfontopcoes foterhoover1">
                                        <li class="footerfontespaco">Depilação</li>
                                    </a>
                                    <a href="#" class="semformato footerfontopcoes foterhoover1">
                                        <li class="footerfontespaco">Estética</li>
                                    </a>
                                    <a href="#" class="semformato footerfontopcoes foterhoover1">
                                        <li class="footerfontespaco">Design de Sombrancelha</li>
                                    </a>
                                </ul>
                            </div>
                            <div class="newsletterfooter">
                                <form action="POST" class="formfooter">
                                    <label class="footerfontopcoes newslettercontainer" for="emailfooter">
                                        Cadastre-se e receba nossas dicas e novidades.
                                    </label>
                                    <input type="email" name="emailfooter" id="emailfooter"
                                        class="inputnewsletterfooter" placeholder="email@dominio.com.br">
                                    <button type="submit" class="buttonnewsletterfooter">Inscreva-se</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="containermidias3">
                <div class="subcontainermidias1">
                    <a href="#"><i class="fa fa-facebook" style="font-size:16px; color:white;"></i></a>
                    <a href="#"><i class="fa fa-instagram" style="font-size:16px; color:white;"></i></a>
                    <a href="#"><i class="fa fa-twitter" style="font-size:16px; color:white;"></i></a>
                </div>
            </div>
            <div class="copyright">Copyright © 2020 - All rights reserved.</div>
        </div>

    </footer>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

</body>

</html>