<!DOCTYPE html>
<html lang="en">

<%- include('includes/head', {title: "Serviços"}) %>

<body>
    <%- include('includes/header') %>

        <main>
            <div class="container container-nossos-servicos">
                <h1 class="text-center my-5">NOSSOS SERVIÇOS</h1>
                <div class="row">
                    <div class="card col m-2" style="width: 18rem;">
                        <div class="d-flex justify-content-center">
                            <img src="/images/cabelo-1.svg" class="card-img-top img-nossos-servicos" alt="...">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title text-center">Cabelos</h5>
                            <p class="card-text text-center texto-cards-nossos-servicos d-none d-lg-block">Nossos
                                tratamentos capilares são feitos com os melhores produtos disponíveis no</p>
                            <div class="d-flex justify-content-center">
                                <a href="#" class="navbutton">Agendar</a>
                            </div>
                        </div>
                    </div>

                    <div class="card col m-2" style="width: 18rem;">
                        <div class="d-flex justify-content-center">
                            <img src="/images/manicure.svg" class="card-img-top img-nossos-servicos" alt="...">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title text-center">Unhas</h5>
                            <p class="card-text text-center texto-cards-nossos-servicos d-none d-lg-block">Serviços de
                                manicure, pedicure e alongamento de unhas com fibra de vidro.</p>
                            <div class="d-flex justify-content-center">
                                <a href="#" class="navbutton">Agendar</a>
                            </div>
                        </div>
                    </div>

                    <div class="card col m-2 d-none d-xl-block" style="width: 18rem;">
                        <div class="d-flex justify-content-center">
                            <img src="/images/depilacao-1.svg" class="card-img-top img-nossos-servicos" alt="...">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title text-center">Depilação</h5>
                            <p class="card-text text-center texto-cards-nossos-servicos d-none d-lg-block">Depilação com
                                cera quente, com os melhores produtos do mercado todo.</p>
                            <div class="d-flex justify-content-center">
                                <a href="#" class="navbutton">Agendar</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="teste"></div>

                <div class="row">
                    <div class="card col m-2" style="width: 18rem;">
                        <div class="d-flex justify-content-center">
                            <img src="/images/estética.svg" class="card-img-top img-nossos-servicos" alt="...">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title text-center">Estética Corporal</h5>
                            <p class="card-text text-center texto-cards-nossos-servicos d-none d-lg-block">Profissionais
                                treinadas e credenciadas nos melhores protocolos de estética corporal.</p>
                            <div class="d-flex justify-content-center">
                                <a href="#" class="navbutton">Agendar</a>
                            </div>
                        </div>
                    </div>

                    <div class="card col m-2" style="width: 18rem;">
                        <div class="d-flex justify-content-center">
                            <img src="/images/massagem.svg" class="card-img-top img-nossos-servicos" alt="...">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title text-center">Massagem</h5>
                            <p class="card-text text-center texto-cards-nossos-servicos d-none d-lg-block">Venha relaxar
                                e
                                diminuir o seu nível de stress com uma massagem. Nossas profissionais</p>
                            <div class="d-flex justify-content-center">
                                <a href="#" class="navbutton">Agendar</a>
                            </div>
                        </div>
                    </div>

                    <div class="card col m-2 d-none d-xl-block" style="width: 18rem;">
                        <div class="d-flex justify-content-center">
                            <img src="/images/sobrancelha.svg" class="card-img-top img-nossos-servicos" alt="...">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title text-center">Design de Sobrancelhas</h5>
                            <p class="card-text text-center texto-cards-nossos-servicos d-none d-lg-block">Embelezamento
                                de
                                sobrancelhas corrigindo imperfeições e destacando o seu olhar.</p>
                            <div class="d-flex justify-content-center">
                                <a href="#" class="navbutton">Agendar</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="teste nossos-servicos-hide"></div>

                <div class="row nossos-servicos-hide">
                    <div class="card col m-2" style="width: 18rem;">
                        <div class="d-flex justify-content-center">
                            <img src="/images/depilacao-1.svg" class="card-img-top img-nossos-servicos" alt="...">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title text-center">Depilação</h5>
                            <p class="card-text text-center texto-cards-nossos-servicos d-none d-lg-block">Depilação com
                                cera quente, com os melhores produtos do mercado todo.</p>
                            <div class="d-flex justify-content-center">
                                <a href="#" class="navbutton">Agendar</a>
                            </div>
                        </div>
                    </div>

                    <div class="card col m-2" style="width: 18rem;">
                        <div class="d-flex justify-content-center">
                            <img src="/images/sobrancelha.svg" class="card-img-top img-nossos-servicos" alt="...">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title text-center">Design de Sobrancelhas</h5>
                            <p class="card-text text-center texto-cards-nossos-servicos d-none d-lg-block">Embelezamento
                                de
                                sobrancelhas corrigindo imperfeições e destacando o seu olhar.</p>
                            <div class="d-flex justify-content-center">
                                <a href="#" class="navbutton">Agendar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <div class="teste"></div>

        <%- include('includes/footer') %> 
        <%- include('includes/scripts') %> 

</body>

</html>