<!DOCTYPE html>
<html lang="en">

<%- include('includes/head', {title: "Serviços"}) %>

<body>
    <%- include('includes/header') %>

    <main class="profissionais-container">
        <h1 class="text-center py-5 titulo-nossos-servicos">NOSSOS SERVIÇOS</h1>
        <div class="container d-flex flex-column">

            <div class="listadeservicos">
            </div>

        </div>
    </main>

    <%- include('includes/footer') %>
    <%- include('includes/scripts') %>
    <script src="/javascripts/categorias.js"></script>

</body>

</html>