<!DOCTYPE html>
<html lang="en">

<%- include('includes/head', {title: "Meu Perfil"}) %>

<body>
    <%- include('includes/header') %>

    <main class="admflexcontainer">

        <div>
            <div class="containerinfosopcoes">
                <a class="opcaoinfos" href="/usuario/perfil">
                    <div class="botaocontaineradm"><div class="admitem1"></div>Perfil</div>
                </a>
                <a class="opcaoinfos borda" href="/usuario/perfil/agendamento">
                    <div class="botaocontaineradm"><div class="perfilitem3"></div>Agendamentos</div>
                </a>
            </div>
        </div>

        <input id="usuario" type="text" value="<%= inputValues.id  %>" hidden>

        <div class="listadeagendamentos">
            
        </div>


    </main>

    <div class="teste1"></div>
    <div class="teste1"></div>

    <%- include('includes/footer') %>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="/javascripts/perfil-agendamentos.js"></script>


</body>

</html>