<!DOCTYPE html>
<html lang="en">

<%- include('includes/head', {title: "Profissionais"}) %>

<body>
    <%- include('includes/header') %>

    <main class="profissionais-container">
        <h1 class="text-center py-5 titulo-nossos-servicos">NOSSOS PROFISSIONAIS</h1>
        <div class="container d-flex flex-column">

            <div class="listadefuncionarios">
            </div>

        </div>
    </main>


    <%- include('includes/footer') %>
    <%- include('includes/scripts') %>
    <script src="/javascripts/funcionarios.js"></script>


</body>

</html>