<!DOCTYPE html>
<html lang="en">

<%- include('includes/head', {title: "Quem Somos"}) %>

<body>
    <%- include('includes/header') %>
        <main>
            
            <div class="container d-flex flex-column justify-content-center">
                <h1 class="text-center my-5 titulo-nossos-servicos">QUEM SOMOS</h1>
                <div class="card quem-somos-card">
                    <img src="/images/quem-somos1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-center">Casarão Estética & Saúde</h5>
                        <p class="card-text text-center texto-cards-quem-somos d-none d-lg-block">O Casarão Estética & Saúde iniciou suas atividades no dia 30 de março de 2019, e desde então oferece uma grande variedade de serviços nos segmentos de beleza e saúde, sempre preocupado com a segurança, saúde e satisfação de suas clientes e profissionais. Uma antiga casa de família foi totalmente reformada para dar lugar ao estabelecimento que conta, como um de seus pontos altos, espaços kids para entreter crianças de todas as idades enquanto as mães desfrutam dos serviços com tranquilidade. </p>
                        
                    </div>
                </div>

                <h1 class="titulo-insta mb-5 my-3">Instagram <a href="https://www.instagram.com/casaraodaestetica/" class="link-insta">| @casaraodaestetica</a></h1>

                <div class="container d-flex">
                    <div class="row mb-5">
                        <div class="col mb-5">
                            <img class="img-insta" src="/images/quem-somos3.jpg" alt="...">
                        </div>
                        <div class="col mb-5 d-none d-sm-block">
                            <img class="img-insta" src="/images/quem-somos3.jpg" alt="...">
                        </div>
                        <div class="col mb-5 d-none d-lg-block">
                            <img class="img-insta" src="/images/quem-somos3.jpg" alt="...">
                        </div>
                        <div class="col mb-5 d-none d-xl-block">
                            <img class="img-insta" src="/images/quem-somos3.jpg" alt="...">
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <%- include('includes/footer') %> 
        <%- include('includes/scripts') %> 

</body>

</html>