<!DOCTYPE html>
<html lang="en">

<%- include('includes/head', {title: "Título da página"}) %>

<body>
    <div class="nav1">
        <a href="/">
            <img src="/images/logo-deitado.png" alt="logo deitado" class="logo1">
        </a>
    </div>
    <div class="containermaincontent">
        <main class="profissionais-container">
            <h1 class="text-center py-5 titulo-nossos-servicos">INTEGRANTES - Turma 6 Grupo 4</h1>
            <div class="container d-flex flex-column">
                <div class="listadefuncionarios">
                    <div class="card card-funcionario" style="margin-bottom: 30px">
                        <div>
                            <img src="/images/lucasp.jpg" style="width: 239px;" alt="funcionario">
                        </div>
                        <div class="card-body">
                            <div class="titulofuncionariohome">Lucas Puglielli</div>
                            <a href="#" class="subtitulofuncionariohome"><i class="fa fa-github" style="color:black" aria-hidden="true"></i> Github</a><br>
                            <a href="#" class="subtitulofuncionariohome"><i class="fa fa-linkedin" style="color: #0e76a8;" aria-hidden="true"></i> LinkedIn</a>
                        </div>
                    </div>
                    <div class="card card-funcionario" style="margin-bottom: 30px">
                        <div>
                            <img src="/images/lucasa.jpg" style="width: 239px;" alt="funcionario">
                        </div>
                        <div class="card-body">
                            <div class="titulofuncionariohome">Lucas Azevedo</div>
                            <a href="#" class="subtitulofuncionariohome"><i class="fa fa-github" style="color:black" aria-hidden="true"></i> Github</a><br>
                            <a href="#" class="subtitulofuncionariohome"><i class="fa fa-linkedin" style="color: #0e76a8;" aria-hidden="true"></i> LinkedIn</a>
                        </div>
                    </div>
                    <div class="card card-funcionario" style="margin-bottom: 30px">
                        <div>
                            <img src="/images/luizr.jpg" style="width: 239px;" alt="funcionario">
                        </div>
                        <div class="card-body">
                            <div class="titulofuncionariohome">Luiz Roberto</div>
                            <a href="#" class="subtitulofuncionariohome"><i class="fa fa-github" style="color:black" aria-hidden="true"></i> Github</a><br>
                            <a href="#" class="subtitulofuncionariohome"><i class="fa fa-linkedin" style="color: #0e76a8;" aria-hidden="true"></i> LinkedIn</a>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <%- include('includes/footer') %>
        <%- include('includes/scripts') %>

</body>

</html>