/* expurgo do bootstrap */

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: initial;
	font-size: initial;
	line-height: initial;
	margin-top: initial;
}

body {
	line-height: initial;
	margin: 0;
}

a {
	color: initial;
}

a:hover {
	color: initial;
}

a:not([href]) {
	color: initial;
}

label {
	margin: initial;
}

.card {
	border: none !important;
}

/* ESTILOS COMUNS */

.titulopagina {
	color: #2f364a;
	font-size: 2.5em;
	margin: 0 !important;
	padding: 3rem;
}

.titulopagina1 {
	color: #2f364a;
	font-size: 34px;
	margin: 0.5px 0 !important;
	padding:  52px 0px;
	text-align: center;
}

/* TEMPLATE DE FORMULÁRIO */

.label-form {
	color: #262c3d;
	font-weight: bold;
	margin-bottom: 0.75rem;
}

.form-border {
	border: 2px solid #227578;
	border-radius: 0.6rem;
	height: calc(1.5em + 1.5rem + 2px);
	font-size: 1rem;
	color: #83b2b3;
}

.correcaoplaceholder::placeholder {
	font-size: initial;
	color: #83b2b3;
}

.btn-color {
	background-color: #c4924b;
	color: #ffffff;
	font-size: larger;
}

/* Inicio da home */

html {
	background-image: url(../images/bg_teste_1.jpg);
}

body {
	background-color: rgba(255, 255, 255, 0.7);
}

.containermaincontent {
	background-color: white;
	margin: 0 auto;
}

.nav1 {
	height: 10vh;
	background-color: #2f364a;
	display: flex;
	justify-content: center;
}

.navadm {
	height: 10vh;
	background-color: #262c3d;
	display: flex;
	justify-content: center;
}

.navadmcontainer{
	width: 1200px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.botaosair{
	position: relative;
	color: white;
	font-size: 15px;
}

a.botaosair{
	color: white;
	text-decoration: none;
}

.logo1 {
	height: 10vh;
}

.logonavadm {
	height: 10vh;
	position: relative;
}

.carousel {
	overflow: hidden;
	height: 79vh;
	width: 100%;
	margin: 1.6vh 0;
}

.destaque1 {
	background-image: url(../images/destaque1.jpg);
	width: auto;
	height: 79vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 38%;
	background-position-y: 20%;
}

.destaque2 {
	background-image: url(../images/destaque2.jpg);
	width: auto;
	height: 79vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 38%;
}

.destaque3 {
	background-image: url(../images/destaque3.jpg);
	width: auto;
	height: 79vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 38%;
}

.nav2 {
	position: sticky;
	top: 0;
	background-color: #262c3d;
	height: 8vh;
	display: flex;
	align-content: center;
	justify-content: space-evenly;
	z-index: 11;
}

.navcontainer1 {
	width: 40%;
	height: 100%;
}

.logo2 {
	height: 8vh;
}

.navcontainer2 {
	width: 40%;
	height: 100%;
}

.navsubcontainer {
	display: flex;
	justify-content: flex-end;
	height: 100%;
}

.navopcao {
	width: 5vh;
	height: 5vh;
	background-color: #c4924b;
	border-radius: 50%;
	align-self: center;
	margin-right: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
}

.navcontainer5 {
	height: 100%;
	display: none;
	align-items: center;
	margin: 0;
	padding: 0;
}

.navbutton2 {
	text-decoration: none;
	color: white;
	list-style-type: none;
	height: 35px;
	width: 120px;
	font-size: 15px;
	background-color: #c4924b;
	border-radius: 7px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 40px;
	font-family: arial;
}

.containerservicos {
	padding: 5px 0 10px 0;
	font-family: Arial, Helvetica, sans-serif;
}

.servicostitle {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 8vh;
	font-size: 15px;
}

.servicostitle1 {
	display: none;
	justify-content: center;
	align-items: center;
	height: 8vh;
	font-size: 20px;
}

.servicoscontainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 3px 0;
}

.servicostitulo {
	width: 90%;
	height: 30px;
	background-color: #c4924b;
	color: white;
	font-size: 14px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.servicosdescricao {
	width: 80%;
	background-color: #eee;
	color: #41bfc4;
	text-align: center;
	font-size: 12px;
	padding: 20px;
	margin-bottom: 10px;
}

.servicosbotaocontainer {
	padding-top: 18px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.servicosbotao {
	width: 86px;
	height: 34px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 600;
	font-size: 13px;
	border-radius: 7px;
	background-color: #c4924b;
}

/* toggle display dos servicos */

.cabelo + .servicosdescricao {
	display: none;
}

.cabelo:checked + .servicosdescricao {
	display: block;
}

.unhas + .servicosdescricao {
	display: none;
}

.unhas:checked + .servicosdescricao {
	display: block;
}

.depilacao + .servicosdescricao {
	display: none;
}

.depilacao:checked + .servicosdescricao {
	display: block;
}

.estetica + .servicosdescricao {
	display: none;
}

.estetica:checked + .servicosdescricao {
	display: block;
}

.massagem + .servicosdescricao {
	display: none;
}

.massagem:checked + .servicosdescricao {
	display: block;
}

/* toggle display dos servicos */

.espacoopcao {
	width: 25px;
	height: 25px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 20px;
	margin: 0 20px;
}

.imgcabelo {
	background-image: url(../images/unha.png);
	background-size: contain;
}

.imgunhas {
	background-image: url(../images/unha.png);
	background-size: contain;
}

.imgdepilacao {
	background-image: url(../images/unha.png);
	background-size: contain;
}

.imgestetica {
	background-image: url(../images/unha.png);
	background-size: contain;
}

.imgmassagem {
	background-image: url(../images/unha.png);
	background-size: contain;
}

.overflowservicos {
	overflow: auto;
	white-space: nowrap;
	display: none;
}

.testecard {
	margin: 30px;
	height: 400px;
	width: 360px;
	display: inline-block;
	padding: 30px;
}

.imgservicosdesktop {
	display: flex;
	margin: 0 auto;
}

.conteudoservicosdesktop {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	white-space: normal;
}

.containernewsletter1 {
	background-color: #262c3d;
	padding: 25px;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.formwidth {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.subnewslettercontainer1 {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	padding-top: 10px;
}

.subnewslettercontainer2 {
	width: 220px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.newslettertitle {
	margin: 0;
}

.newslettersubtitle1 {
	font-size: 11px;
	margin: 10px 0;
}

.newsletterinputhome1 {
	width: 220px;
	background-color: #262c3d;
	border: none;
	border-bottom: 2px solid white;
	margin-bottom: 5px;
}

.newsletterinputhome2 {
	width: 220px;
	background-color: #262c3d;
	border: none;
	border-bottom: 2px solid white;
	margin-bottom: 5px;
}

.botaonewsletter1 {
	color: white;
	height: 25px;
	width: 80px;
	font-size: 11px;
	background-color: #c4924b;
	border-radius: 3px;
	display: flex;
	margin: 15px auto 0 auto;
	justify-content: center;
	align-items: center;
	font-family: arial;
	border: none;
}

::placeholder {
	color: white;
	opacity: 1;
	font-size: 11px;
}

.quemsomoshomecontainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: Arial, Helvetica, sans-serif;
}

.quemsomoscard {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #eee;
	width: 80%;
	height: 40vh;
}

.quemsomosbg {
	background-image: url(../images/quem-somos1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 20vh;
	width: 100%;
}

.quemsomosdescricao1 {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	flex-direction: column;
	line-height: 20px;
}

.quemsomosdescricao2 {
	display: none;
	justify-content: center;
	align-items: center;
	text-align: center;
	flex-direction: column;
	line-height: 20px;
}

.quemsomostitle1 {
	margin: 27px 0px 27px 0px;
}

.quemsomostitle2 {
	margin: 29px 0px 21px 0px;
}

.quemsomostitle3 {
	margin: 30px 0px 8px 0px;
}

.quemsomostitle4 {
	margin: 30px 0px 8px 0px;
	font-size: 20px;
}

.quemsomostexto1 {
	font-size: 11px;
	width: 80%;
	color: #41bfc4;
}

.quemsomostexto2 {
	font-size: 15px;
	width: 80%;
	color: #41bfc4;
}

.nossaequipehomecontainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: Arial, Helvetica, sans-serif;
}

.equipehomecontainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	width: 80%;
	margin-bottom: 20px;
}

.equipehomecards {
	width: 239px;
	height: 334px;
	border: 1px solid black;
	margin: 5px 5px 25px 5px;
}

.funcionario1bg {
	width: 100%;
	/* background-image: url(../images/funcionario-1.jpg);
	background-size: cover;
	background-position: center; */
}

.funcionario2bg {
	width: 100%;
	height: 14vh;
	background-image: url(../images/funcionario-2.png);
	background-size: cover;
	background-position: center;
}

.funcionario3bg {
	width: 100%;
	height: 14vh;
	background-image: url(../images/funcionario-3.jpg);
	background-size: cover;
	background-position: center;
}

.funcionario4bg {
	width: 100%;
	height: 14vh;
	background-image: url(../images/funcionario-4.jpg);
	background-size: cover;
	background-position: center;
}

.descricaofuncionariohome {
	width: 100%;
	height: 8vh;
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.titulofuncionariohome {
	font-size: 20px;
	color: #227578;
}

.subtitulofuncionariohome {
	font-size: 16px;
	color: #41bfc4;
}

.correcaofakebg {
	width: 100%;
	display: flex;
	justify-content: center;
}

.fakebg {
	display: none;
	height: 60px;
	width: 1200px;
	margin: 0 auto;
	background-color: white;
}

.containermidias1 {
	background-color: #262c3d;
	width: 100%;
	height: 6vh;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.subcontainermidias1 {
	width: 200px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.footer1 {
	height: 9vh;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 12px;
	font-family: arial;
	font-weight: 100;
}

.containerfootertodo {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.foterhoover1:hover {
	color: #c4924b;
	text-decoration: none;
}

@media (min-width: 1200px) {
	.nav1 {
		height: 13vh;
	}
	.navadm {
		height: 13vh;
	}
	.navadmcontainer{
		width: 1200px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.logo1 {
		height: 13vh;
	}
	.logonavadm {
		height: 13vh;
		position: relative;
		left: 40.75px;
	}
	.botaosair{
		position: relative;
		color: white;
		font-size: 25px;
		left: 300px;
	}
	.carousel {
		height: 73vh;
		margin: 1.5vh 0;
	}
	.dotbox {
		bottom: 88px;
	}
	.nav2 {
		height: 11vh;
	}
	.navcontainer1,
	.navcontainer2 {
		display: none;
	}
	.navcontainer5 {
		display: flex;
	}

	.servicoscontainer,
	.servicostitle {
		display: none;
	}
	.servicostitle1 {
		display: flex;
	}
	.overflowservicos {
		display: flex;
		
	}

	.newslettertitle {
		font-size: 25px;
	}

	.newslettercontainer1 {
		width: 400px;
		padding-bottom: 15px;
	}

	.subnewslettercontainer1,
	.subnewslettercontainer2 {
		align-items: flex-start;
	}

	.subnewslettercontainer2 {
		width: 440px;
		padding-bottom: 15px;
	}

	.newsletterinputhome1 {
		width: 440px;
		height: 30px;
	}

	.newsletterinputhome2 {
		width: 360px;
		height: 30px;
	}

	.newslettersubtitle1 {
		font-size: 14px;
		margin: 10px 0 0 0;
	}

	::placeholder {
		color: white;
		opacity: 1;
		font-size: initial;
	}

	.botaonewsletter1 {
		margin-top: 5px;
	}

	.quemsomostitle1 {
		font-size: 20px;
	}

	.quemsomostitle2 {
		font-size: 20px;
	}

	.quemsomoscard {
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: #eee;
		width: 1140px;
		height: 58vh;
	}

	.quemsomosbg {
		height: 40vh;
		background-position: center;
	}

	.quemsomosdescricao1 {
		display: none;
	}

	.quemsomosdescricao2 {
		display: flex;
	}

	.equipehomecontainer {
		width: 1150px;
		justify-content: space-evenly;
	}

	.equipehomecards {
		width: 239px;
		height: 334px;
	}

	/* .funcionario1bg {
		height: 20vh;
	} */

	.funcionario2bg {
		height: 20vh;
	}

	.funcionario3bg {
		height: 20vh;
	}

	.funcionario4bg {
		height: 20vh;
	}

	.titulofuncionariohome {
		font-size: 20px;
	}

	.subtitulofuncionariohome {
		font-size: 16px;
	}

	.fakebg {
		display: block;
	}

	.containerfootertodo {
		position: relative;
		bottom: 60px;
	}

	.copyright {
		top: 30px;
	}

	.containermaincontent {
		width: 1200px;
	}
}

/* Fim da home */

/* Inicio do template */

.nav3 {
	height: 127px;
	width: 100%;
	background-color: #2f364a;
	display: flex;
	justify-content: center;
}

.navcontainer3 {
	width: 1200px;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.logo3 {
	height: 131px;
}

.navcontainer4 {
	height: 100%;
	display: flex;
	align-items: center;
	margin: 0;
	padding: 0;
}

.navbutton {
	text-decoration: none;
	color: white;
	list-style-type: none;
	height: 35px;
	width: 120px;
	font-size: 15px;
	background-color: #c4924b;
	border-radius: 4px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 22px 0 22px;
	font-family: arial;
}

/* .usercontainer{
	display: flex;
	flex-direction: column;
	position: relative;
	top:75px;
} */

a.userinfocontent {
	text-decoration: none;
	color: white;
	list-style-type: none;
	height: 35px;
	width: 160px;
	font-size: 18px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 20px;
	align-items: flex-start;
	margin: 0 22px 0 22px;
	font-family: arial;
}

a.userinfocontent2 {
	text-decoration: none;
	color: white;
	list-style-type: none;
	height: 35px;
	width: 160px;
	font-size: 15px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 20px;
	align-items: flex-start;
	margin: 0 22px 0 22px;
	font-family: arial;
}

.fa-chevron-down {
	padding-left: 20px;
}

.useropcoesmenu {
	display: none;
	list-style-type: none;
	background-color: #c4924b;
	color: white;
	width: 160px;
	font-size: 13px;
	flex-direction: column;
	justify-content: space-around;
	position: absolute;
	margin: 0 22px 0 22px;
	box-sizing: border-box;
	padding-top: 10px;
}

.userinfocontent1:hover {
	color: white;
	text-decoration: none;
}

a.userinfocontent:hover + .useropcoesmenu {
	display: flex;
	color: white;
	text-decoration: none;
}

.useropcoesmenu:hover {
	display: flex;
}

.espacoteste {
	padding: 0px 20px 10px;
	background-color: #c4924b;
}

.logoutbutton {
	color: white;
}

.nav4 {
	background-color: #262c3d;
	height: 8vh;
	display: none;
	align-content: center;
	justify-content: space-evenly;
}

footer {
	display: flex !important;
	width: 100%;
	flex-direction: column;
	align-items: center;
	background-color: #333b52;
}

.footercontainer {
	height: 470px;
	width: 1140px;
	background-color: #262c3d;
	z-index: 10;
}

.containermidias2 {
	background-color: #2f364a;
	height: 150px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.subcontainermidias2 {
	width: 800px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.footerconteudo {
	height: calc(100% - 150px);
	width: 100%;
	display: flex;
}

.containerlogofooter {
	height: 100%;
	width: 320px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.logofooter {
	height: 208px;
	width: 210px;
}

.containerconteudofooter {
	height: 100%;
	width: calc(100% - 320px);
}

.subcontainerconteudofooter {
	height: 70%;
	width: 100%;
	margin-top: 60px;
	display: flex;
}

.footerfonttitulo {
	color: white;
	font-family: arial;
	margin: 20px 0 15px 0;
	font-weight: 700;
	font-size: 19px;
}

.footerfontopcoes {
	color: white;
	font-family: arial;
	font-size: 20px;
}

.footerfontespaco {
	margin-bottom: 10px;
}

.sobrefooter {
	padding-left: 20px;
	width: 195px;
}

.servicosfooter {
	width: 250px;
}

.newsletterfooter {
	width: 300px;
}

.formfooter {
	display: flex;
	flex-wrap: wrap;
}

.newslettercontainer {
	width: 240px;
	padding: 18.7px 0 20px 0;
	margin: 0;
}

.inputnewsletterfooter {
	border: none;
	border-bottom: 2px solid white;
	background-color: #262c3d;
	height: 33px;
	width: 170px;
}

.buttonnewsletterfooter {
	color: white;
	height: 33px;
	width: 100px;
	font-size: 15px;
	background-color: #c4924b;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: arial;
	border: none;
}

.semformato {
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-decoration: none;
}

.copyright {
	width: 100%;
	position: relative;
	font-size: 20px;
	font-family: arial;
	font-weight: 100;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
}

.containermidias3 {
	background-color: #2f364a;
	width: 100%;
	height: 6vh;
	display: none;
	align-items: center;
	justify-content: space-around;
}

.teste {
	height: 20vh;
}

.teste1 {
	height: 100px;
}

@media (max-width: 1199px) {
	.teste3 {
		height: 15.7vh;
	}

	.nav3 {
		display: none;
	}

	.nav4 {
		display: flex;
	}

	.footercontainer {
		display: none;
	}

	.containermidias3 {
		display: flex;
	}

	.copyright {
		font-size: 12px;
		height: 9vh;
	}
}

/* Para page */
.funcionarios-bg {
	width: 100%;
	height: 25vh;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.funcionario-1 {
	transform: scale(1);
	background-image: url(/images/funcionario-1.jpg);
	background-position-x: center;
	background-position-y: center;
}

.funcionario-2 {
	background-image: url(/images/funcionario-2.png);
}

.funcionario-3 {
	background-image: url(/images/funcionario-3.jpg);
}

.funcionario-4 {
	background-image: url(/images/funcionario-4.jpg);
}

.listadefuncionarios {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.card-funcionario {
	border: 1px solid rgba(0, 0, 0, 0.125) !important;
}

/* Para página pagamento */
.logo-cartao {
	width: 4em;
	height: 4em;
	margin-right: 2em;
}

.icone-editar {
	width: 1.5em;
	height: 1.5em;
	margin: 0.5em;
}

.cartao {
	width: 40%;
	/* border: 1px solid grey; */
	box-shadow: 2px 1px 10px 2px #888888;
}

.nome-banco {
	font-size: 2em;
	padding: 0.3em;
}

.nome-cartao {
	font-size: 2em;
	padding: 0.3em;
}

.numero-cartao {
	font-size: 1.5em;
	color: rgb(75, 131, 75);
	margin-left: 2em;
	margin-bottom: 0;
}

.usuario-sa {
	font-size: 1.5em;
	color: rgb(75, 131, 75);
	margin-left: 2em;
}
/* Para page contato */
.card-contato {
	border: 1px solid gray;
	border-radius: 5px;
	box-shadow: 3px 3px 15px 0px rgba(0, 0, 0, 0.253);
}

.input-contato {
	background-color: #e5fafb;
}

/* Para page Nossos Serviços */

.my-5 {
	margin-top: 0 !important;
}

.titulo-nossos-servicos {
	padding-top: 3rem;
	font-size: 2.5em;
}

.listadeservicos {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}



.container-nossos-servicos {
	padding: 0 !important;
}

.texto-cards-nossos-servicos {
	font-size: 1em;
	color: #41bfc4;
	white-space: normal;
	width: 239px;
	height: 40px;
	text-align: center;
}

.texto-cards-quem-somos {
	font-size: 1em;
	color: #41bfc4;
	white-space: normal;
	text-align: center;
}

.menu-header {
	background-color: #2f364a;
}

/* Para page quem-somos*/
.agendar-botao {
	color: #000;
	background-color: #fff;
	border-color: #c4924b;
	display: inline-block;
	font-weight: 400;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	user-select: none;
	border: 3px solid #c4924b;
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: 0.25rem;
}

.img-insta {
	max-width: 100%;
}

.titulo-insta {
	font-size: 1.5em;
}

.link-insta {
	color: #41bfc4;
}
.quem-somos-card {
	width: 100%;
}
/* PÁGINA DE AGENDAMENTO (/views/agendamento.html) */

.formAgendamento {
	max-width: 500px;
}

.main-container {
	padding-bottom: 3rem;
}

.disabled-style:disabled {
	background-color: rgba(0, 0, 0, 0);
}

/* PÁGINA DE CADASTRO USUÁRIO */

.formCadastro {
	max-width: 500px;
}

/* PÁGINA DE PROFISSIONAIS */

.profissionais-container {
	padding-bottom: 3rem;
}

/*  MEDIA QUERIES*/

@media (min-width: 1200px) {
	div.nossos-servicos-hide {
		display: none;
	}
}

@media (min-width: 992px) {
	div.profissionais-hide {
		display: none;
	}
}

@media (max-width: 991px) {
	img.img-nossos-servicos {
		width: 80% !important;
	}
}

/* MEDIA QUERIES PARA PAGAMENTOS */
@media (max-width: 991px) and (min-width: 768px) {
	.logo-cartao {
		width: 3em;
		height: 3em;
		margin-right: 1em;
	}

	.icone-editar {
		width: 1.5em;
		height: 1.5em;
		margin: 0.5em;
	}

	.cartao {
		width: 45%;
		/* border: 1px solid grey; */
		box-shadow: 2px 1px 10px 2px #888888;
	}

	.nome-banco {
		font-size: 1.5em;
		padding: 0.3em;
	}

	.nome-cartao {
		font-size: 1.5em;
		padding: 0.3em;
	}

	.numero-cartao {
		font-size: 1.2em;
		color: rgb(75, 131, 75);
		margin-left: 2em;
		margin-bottom: 0;
	}

	.usuario-sa {
		font-size: 1.2em;
		color: rgb(75, 131, 75);
		margin-left: 2em;
	}
}

@media (max-width: 767px) and (min-width: 576px) {
	.logo-cartao {
		width: 3em;
		height: 3em;
		margin-right: 1em;
	}

	.icone-editar {
		width: 1.5em;
		height: 1.5em;
		margin: 0.5em;
	}

	.cartao {
		width: 50%;
		/* border: 1px solid grey; */
		box-shadow: 2px 1px 10px 2px #888888;
	}

	.nome-banco {
		font-size: 1.3em;
		padding: 0.3em;
	}

	.nome-cartao {
		font-size: 1.3em;
		padding: 0.3em;
	}

	.numero-cartao {
		font-size: 1em;
		color: rgb(75, 131, 75);
		margin-left: 2em;
		margin-bottom: 0;
	}

	.usuario-sa {
		font-size: 1em;
		color: rgb(75, 131, 75);
		margin-left: 2em;
	}
}

@media (max-width: 575px) and (min-width: 481px) {
	.logo-cartao {
		width: 3em;
		height: 3em;
		margin-right: 1em;
	}

	.icone-editar {
		width: 1.5em;
		height: 1.5em;
		margin: 0.5em;
	}

	.cartao {
		width: 80%;
		/* border: 1px solid grey; */
		box-shadow: 2px 1px 10px 2px #888888;
	}

	.nome-banco {
		font-size: 1.5em;
		padding: 0.3em;
	}

	.nome-cartao {
		font-size: 1.5em;
		padding: 0.3em;
	}

	.numero-cartao {
		font-size: 1.2em;
		color: rgb(75, 131, 75);
		margin-left: 2em;
		margin-bottom: 0;
	}

	.usuario-sa {
		font-size: 1.2em;
		color: rgb(75, 131, 75);
		margin-left: 2em;
	}
}

@media (max-width: 480px) {
	.logo-cartao {
		width: 2.5em;
		height: 2.5em;
		margin-right: 1em;
	}

	.icone-editar {
		width: 1.5em;
		height: 1.5em;
		margin: 0.5em;
	}

	.cartao {
		width: 80%;
		/* border: 1px solid grey; */
		box-shadow: 2px 1px 10px 2px #888888;
	}

	.nome-banco {
		font-size: 1.2em;
		padding: 0.3em;
	}

	.nome-cartao {
		font-size: 1.2em;
		padding: 0.3em;
	}

	.numero-cartao {
		font-size: 1em;
		color: rgb(75, 131, 75);
		margin-left: 2em;
		margin-bottom: 0;
	}

	.usuario-sa {
		font-size: 1em;
		color: rgb(75, 131, 75);
		margin-left: 2em;
	}
}

/* PAGINA DE INFOS */

.admflexcontainer{
	display: flex;
}

.containerinfosopcoes {
	background-color: #2f364a;
	width: 62px;
}

.opcaoinfos {
	width: 62px;
	height: 62px;
	background-color: #2f364a;
	display: block;
	margin-bottom: 10px;
}

.forms {
	position: relative;
	left: 20px;
	top: 20px;
	width: calc(100% - 105px);
	background-color: white;
}

#displayinv {
	display: none;
}

.positiondatedaily{
	position: relative;
	left: 85px;
	top: 30px;
	margin-bottom: 40px;
}

.subforms {
	position: relative;
	display: none;
	top: 20px;
	left: 20px;
	width: 70%;
	background-color: white;
}

.tituloinfosadm {
	font-size: 18px;
	margin-bottom: 15px;
}

.labelinfosadm {
	font-size: 13px;
	font-weight: bold;
}

.inputinfosadm {
	width: 100%;
	border-radius: 8px;
	margin: 10px 0;
	height: 40px;
	border: 2px solid #227578;
	color: #227578;
	padding-left: 10px;
	box-sizing: border-box;
	font-size: 12px;
}

.inputinfosadm2 {
	width: 100%;
	border-radius: 8px;
	margin: 10px 0;
	height: 40px;
	border: 2px solid #227578;
	color: #227578;
	padding-left: 10px;
	box-sizing: border-box;
	font-size: 12px;
}

.inputinfosfunc {
	width: 50%;
	border-radius: 8px;
	margin: 10px 0;
	height: 40px;
	border: 2px solid #227578;
	color: #227578;
	padding-left: 10px;
	box-sizing: border-box;
	font-size: 12px;
}

.inputinfosfunc2 {
	width: 90%;
	border-radius: 8px;
	margin: 10px 0;
	height: 40px;
	border: 2px solid #227578;
	color: #227578;
	padding-left: 10px;
	box-sizing: border-box;
	font-size: 12px;
}

.textareainfoscategoria {
	border-radius: 8px;
	margin: 10px 0;
	border: 2px solid #227578;
	color: #227578;
	padding: 5px 10px;
	box-sizing: border-box;
	font-size: 12px;
	resize: none;
	height: 120px;
	width: 90%;
}

.inputfotofunc {
	border-radius: 8px;
	border: 2px solid #227578;
	width: 100%;
	margin: 10px 0;
	padding: 8px 8px;
	height: 40px;
	color: #227578;
	box-sizing: border-box;
	font-size: 12px;
}

.inputinfosfunc2::placeholder,
.inputinfosadm::placeholder,
.inputinfosadm2::placeholder,
.dropdowninfosfunc::placeholder,
.textareainfoscategoria::placeholder {
	color: #227578;
}

.dropdowninfosadm {
	width: 100%;
	border-radius: 8px;
	margin: 10px 0;
	height: 40px;
	border: 2px solid #227578;
	color: #227578;
	box-sizing: border-box;
	font-size: 12px;
	padding: 0 10px;
}

.dropdowninfosadm1 {
	width: 50%;
	border-radius: 8px;
	margin: 10px 0;
	height: 40px;
	border: 2px solid #227578;
	color: #227578;
	box-sizing: border-box;
	font-size: 12px;
	padding: 0 10px;
}

.dropdowninfosadm2 {
	width: 100%;
	border-radius: 8px;
	margin: 10px 0;
	height: 40px;
	border: 2px solid #227578;
	color: #227578;
	box-sizing: border-box;
	font-size: 12px;
	padding: 0 10px;
}

.dropdowninfosadm3 {
	width: 100%;
	border-radius: 8px;
	margin: 10px 0;
	height: 40px;
	border: 2px solid #227578;
	color: #227578;
	box-sizing: border-box;
	font-size: 12px;
	padding: 0 10px;
}

.dropdowninfosfunc {
	padding-left: 10px;
	width: 70%;
	border-radius: 8px;
	margin: 10px 0;
	height: 40px;
	border: 2px solid #227578;
	color: #227578;
	box-sizing: border-box;
	font-size: 12px;
}

.botaoinfosadm {
	margin-top: 20px;
	background-color: #c4924b;
	border: none;
	border-radius: 5px;
	color: white;
	font-weight: 600;
	font-size: 18px;
	height: 35px;
	width: 80px;
}

.botaoagendamento {
	/* border: 1px solid black; */
	width: 180px;
	padding: 10px 12px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: 2px 2px 8px #ccc;
	color: #227578;
	font-size: 20px;
}

.textcolorblack {
	color: black;
	font-size: 12px;
	font-weight: bold;
}

.containereditarfuncionario{
display: flex;
width: 100%;
flex-direction: column-reverse;
}

.subcontainereditarfuncionario1{
	width: 100%;
}
.subcontainereditarfuncionario2{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.editemployeeimage{
	width: 270px;
	border-radius: 20px;
	border: 2px solid #227578;
}

.borda {
	border-left: 3px solid #c4924b;
}

.admitem1 {
	background-image: url(../images/usuario-branco.png);
	background-size: contain;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	transform: scale(0.6);
}
.admitem2 {
	background-image: url(../images/companhia.png);
	background-size: contain;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	transform: scale(0.6);
}
.admitem3 {
	background-image: url(../images/clientes.png);
	background-size: contain;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	transform: scale(0.6);
}
.admitem4 {
	background-image: url(../images/funcionario.png);
	background-size: contain;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	transform: scale(0.6);
}
.admitem5 {
	background-image: url(../images/calendario-branco.png);
	background-size: contain;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	transform: scale(0.6);
}
.admitem6 {
	background-image: url(../images/serviços.png);
	background-size: contain;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	transform: scale(0.6);
}
.admitem7 {
	width: 100%;
	height: 100%;
	color: white;
	font-size: 90px;
	text-align: center;
	transform: scale(0.6);
}
/* Para page Perfil */
.perfilitem2 {
	background-image: url(../images/pagar-branco.png);
	background-size: contain;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	transform: scale(0.6);
}

.perfilitem3 {
	background-image: url(../images/serviços.png);
	background-size: contain;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	transform: scale(0.6);
}

.titulo-servico-card {
	font-size: 2em;
	padding: 0.3em;
	margin-left: 1em;
	margin-bottom: 0;
}

.data-servico-card {
	font-size: 1.5em;
	color: rgb(75, 131, 75);
	margin-left: 1.8em;
	margin-bottom: 0;
}

.label-info {
	font-size: 1.5em;
	padding: 0.3em;
	margin-left: 1.6em;
	margin-bottom: 0;
}

.nome-info {
	font-size: 1.5em;
	padding: 0.3em;
	color: rgb(75, 131, 75);
	margin-bottom: 0;
}

.status-info {
	font-size: 1.5em;
	padding: 0.3em;
	color: rgb(75, 131, 75);
	margin-bottom: 0;
}

.img-servico {
	width: 80px;
	height: 80px;
}

.icones-servico-card {
	width: 50px;
	height: 50px;
	margin-left: 1em;
}

.cartao-servico {
	display: inline-block;
	/* width: 60%; */
	/* border: 1px solid grey; */
	box-shadow: 2px 1px 10px 2px #888888;
}

@media (min-height: 821px) {
	.teste1 {
		height: 35vh;
	}
}

@media (min-width: 1199px) {

	.titulopagina1 {
		color: #2f364a;
		font-size: 2.5em;
		margin: 0 !important;
		padding: 3rem;
	}

	.forms,
	.subforms {
		width: 1000px;
		left: 85px;
		top: 30px;
	}
	.containereditarfuncionario{
		flex-direction: row;
	}
	.subcontainereditarfuncionario1, .subcontainereditarfuncionario2{
		width: 50%;
	}
	.editemployeeimage{
		width: 400px;
	}
	.containerinfosopcoes {
		width: 90px;
	}
	.opcaoinfos {
		width: 90px;
		height: 90px;
	}
	.inputfotofunc{
		width: 50%;
	}
	.inputinfosfunc2 {
		width: 30%;
		border-radius: 8px;
		margin: 10px 0;
		height: 40px;
		border: 2px solid #227578;
		color: #227578;
		padding-left: 10px;
		box-sizing: border-box;
		font-size: 12px;
	}
	.inputinfosfunc{
		width: 15%;
	}
	.inputinfosadm{
		width: 50%;
	}
	.inputinfosadm2{
		width: 100%;
	}
	.dropdowninfosadm{
		width: 24.8%;
	}
	.dropdowninfosadm3{
		width: 50%;
	}
	.dropdowninfosfunc{
		width: 50%;
	}
	.textareainfoscategoria{
		width: 50%;
	}
	.teste1 {
		height: 10vh;
	}
	.teste3 {
		height: 10vh;
	}

}
